/* work sans google font from google */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Work Sans", sans-serif;
}

/* header styles */

header {
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 240px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav h3 {
  color: rgb(19, 19, 19);
  font-weight: 700;
  font-size: 2rem;
}
nav > ul {
  display: flex;
}

nav li {
  list-style: none;
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
}
nav li a {
  text-decoration: none;
  color: #424242;
}

/* banner styles */
.banner-content {
  max-width: 850px;
  text-align: center;
  margin: 0 auto;
}
.banner-title {
  color: rgb(19, 19, 19);
  font-size: 4rem;
  font-weight: 700;
}

.banner-description {
  color: rgb(114, 114, 114);
  font-size: 1rem;
  font-weight: 400;
}
.btn-primary {
  border-radius: 8px;
  background: rgb(255, 144, 14);
  padding: 1rem 1.5rem;
  cursor: pointer;
}
.banner img{
  width: 100%;
  margin-top: 30px;
}

/* responsive media queries */
@media screen and (max-width: 576px) {
  header{
    padding: 20px;
  }
  nav{
    flex-direction: column;
  }
  .banner-title{
    font-size: 2rem;
  }
}
/* medium devices media queries */
@media screen and (min-width: 576px) and (max-width: 992px) {
  header{
    padding: 50px;
  }
  nav{
    flex-direction: column;
  }
  .banner-title{
    font-size: 3rem;
  }
}